video{
    object-fit: cover;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

.homecontent-container{
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    object-fit: contain;
    
}

.homecontent-container >h1{
    color: #3286a2;
    font-size: 36px;
    
}

.homecontent-container > p{
    color: white;
    font-size: 100px;
    
}

.homecontent-container > h3{
    color: white;
    font-size: 28px;
    font-weight: 200;
}

.fa-2x{       
    color: #fff;
    padding-top: 40px;
    cursor: pointer;
}
