.sobre-content{
    padding: 4rem;  
    background: rgba(1,6,16,1);
    color: white;
    height: 2000px;
}

.content{
    display: flex;
}

.image-david img{
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
    border-radius: 75% 25% 78% 22% / 61% 22% 59% 22%;
}

.sobre-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    gap: 20px;
    border-right: 1px solid #a213e8;
    padding-right: 20px;
}

.sobre-container h1{
    color: #a213e8;
}

.content-text{
    font-weight: 200;
}

.perfil-container{
    padding: 20px;
    padding-left: 60px;
}

.perfil-container h1{
    color: #a213e8;
    padding-bottom: 18px;
}

.perfil-container h3{
    padding-bottom: 2px;
    font-weight: 400;
}

.cargo{
    padding-bottom: 5px;
    font-weight: 100;
    color: rgb(194, 191, 191);
}

.button-empurrar{
    padding-bottom: 70px;
    font-weight: 100;
    color: rgb(194, 191, 191);
}

.contato{
    margin-right: 20px;
    padding: 10px;
}

.cv{
    padding: 10px;
}

.habilidade-content{
    padding: 50px;
    display: flex;
    justify-content: center;

}