.sobre-content{
    padding: 4rem;
    background: rgba(1,6,16,1);
    color: white;
    height: 700px;
    width: 100%;
}

.titulo-sobre{
    color: #9F37D6;
    margin-left: 48%;
    margin-right: 50%;
    margin-bottom: 20px;
}

.content-sobre{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.image-david img{
    max-width:290px;
    max-height:290px;
    width: auto;
    height: auto;
    
}

.sobre-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    gap: 20px;
    border-right: 1px solid #a213e8;
    padding-right: 20px;
    margin-left: 40px;
    
    height: 240px;
}

.sobre-container h1{
    color: #a213e8;
    font-size: 20px;
}

.content-text{
    font-weight: 200;
}

.perfil-container{
    padding: 20px;
    padding-left: 60px;
}

.perfil-container h1{
    color: #a213e8;
    padding-bottom: 18px;
}

.perfil-container h3{
    padding-bottom: 2px;
    font-weight: 400;;
}

.cargo{
    padding-bottom: 5px;
    font-weight: 100;
    color: rgb(194, 191, 191);
}

.button-empurrar{
    padding-bottom: 70px;
    font-weight: 100;
    color: rgb(194, 191, 191);
}

.contato {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    padding: 19px;
    background-color: transparent;
    border: solid #FFFFFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
 }
 
 .contato:hover {
    background: transparent;
    border: solid #9F37D6 2px;
    color: #9F37D6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

.cv {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 20px;
    background-color: #9f37d6;
    text-shadow: 1px 1px 20px #FFFFFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .cv:hover {
    background: #A213E8;  
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

.habilidade-content{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.habilidade-content h1{ 
    color: #A213E8;
}

.icons i{
    padding-right: 20px;
    padding-bottom: 10px;
}
