.content-contato{
    height: 700px;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#message-validation{
    font-size: 40px;
    color: rgba(255, 255, 255, .6)
}

.content-contato h1{
    text-align: center;
    color: #a213e8;
    font-weight: 900;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

#contato-container{
    display: flex;
    overflow: hidden;
    padding: 10px;
    width: 950px;
    height: 450px;
    border-radius: 15px;
    margin-bottom: 25px;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, .2);
    -webkit-box-swadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    -moz-box-swadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
}

.contact-info{
    background-color: rgba(1,6,18,1);
    flex: 0 1 40%;
    border-radius: 15px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
}

.contact-info h4{
    margin-bottom: 8px;
    font-size: 1.85rem;
    font-weight: 500;
    /*margin-top: 0;*/
    margin: 0;
    color:#a213e8;
}
.contact-info p{
    margin-bottom: 40px;
    font-size: 0.9rem;
    color: rgba(255,255,255,7);
    font-weight: 100;
}

.icon-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.icon-text .fa-solid{
    flex: 0 0 22px;
    font-size: 1.4rem;
    margin-right: 2rem;
    color:#a213e8;
}

.icon-text span{
    font-size: 1.0rem;
    font-weight: 200;
}

.social-media{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 60px;
}

.icon-circle{
    flex: 0 1 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    transition: .3s all ease-in-out;
}

.icon-circle:hover{
    background-color:  #a213e8;
}

.icon-circle .fa-brands{
    font-size: 22px;
    color: white;
}

form{
    padding: 40px;
    width: 100%;
}

.form-part{
    display: flex;
    width: 100%;
    flex: 0 0 100%;
    padding: 0;
}

.form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 100%;
    padding-right: 40px;
}

.form-group label{
    font-size: 0.80rem;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 1rem;
}

label:nth-child(2){
    padding-right: 0;
}

input[type="text"]{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: white;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}   

input[type="text"]:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #a213e8;
}

input[type="email"]{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: white;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}

input[type="email"]:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #a213e8;
}

input[type="tel"]{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: white;
    transition: all .3s ease-in-out;
    margin-bottom: 2rem;
}

input[type="tel"]:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #a213e8;
}

textarea{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 300;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: white;
    transition: all .3s ease-in-out;
    margin-bottom: 3rem;
    resize: none;
}

textarea:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #a213e8;
}

.form-group-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px;
}

.primary {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px;
    background-color: #9f37d6;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 140px;
    height: 55px;
    border: none;
 }
 
 .primary:hover {
    background: #A213E8;  
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

 .report-message{
    color: #9f37d6;
 }

 @media screen and (max-width: 790px) {
    .content-contato{
        height: 1400px;
    }
    #contato-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 900px;
        
    }
    .form-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        Flex: 0 1 100%;
        padding-right: 20px;
    }
    .contact-info{
        width: 92%;
        margin-left: 18px;
        margin-top: 10px;
    }
    
 }

 @media screen and (max-width: 960px){
    #contato-container{
        width: 100%;
    }
 }

